name: Build and Deploy

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Inject secret (replace placeholder)
        run: |
          # Заменяем плейсхолдер на реальный ключ
          sed -i "s|__GEN_API_API_KEY__|${{ secrets.GEN_API_API_KEY }}|g" ai/aiChat.js
          
          

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./
